doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Keep to learn')
  meta(name='author' content='ICWEB FE DEV')  
  link(rel="stylesheet", href="css/style.min.css")
  title Showcase Gulp.JS
  body 
    header
      h1 My Name is Wittawat Kittiwarabud (Tee)
    main     
      section 
        h2 This content is Example only. Ah
        p no need high level do pull it. Yeah
        p yes it's pug
        a(href="http://google.com") Tee
    footer 
      p copyright 2021.

      script(src='js/bundle.min.js')